body {
    font-family: arial;
}

.box {
    width: 100px;
    height: 100px;
    background: cornflowerblue;
    margin: 1em;
}

.big {
    width: 200px;
    height: 200px;
}

.coral {
    background: coral;
}