h1 {
    color: darkgreen;
}

.box {
    background: purple;
    width: 200px;
    height: 200px;
    margin: 1em;
}

.absolute {
background: blue;
position: absolute;
left: 200;
bottom: 100px;
}

.fixed {
    background: limegreen;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50);
}