* {
    margin: 0;
    padding: 0;
    box-sizing:
    border-box;
}

html {
    font-size: 20px;
}

section {
    margin: 2rem .5em;
    padding: 1em;
    border: 2px solid gray;
}

.vmin-demo {
    background: lightskyblue;
    width: 4vmin;
}



.section-vmin img {
        font-size: 30vmin;
}


.section-em {
    font-size: 40px;
}


.box-em {
   /* width: 10em;
   height: 10em; */
   font-size: 50px;
   width: max-content;
   padding: 1rem;
   background: gray;
   margin: 1rem;
   color: honeydew;
}
