*{margin: 0; padding: 0; 
    box-sizing: border-box;}

    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .box {
        background: cornflowerblue;
        width: 20vmin;
        height: 20vmin;
        margin: 1em;
        border: 3px solid orange;
    }

    .absolute {
        background: orchid;
        position: absolute;
        top: 50vmin;
        left: 50vmin;
        z-index: 100;
    }

    .fixed {
        background: coral;
        position: fixed;
        top: 10vmin;
        left: 40vmin;

    }

    .relative {
        background: greenyellow;
        position: relative;
        top: 80vmin;
        left: 20vmin;
    }

    .parent {
        width: 60%;
        height: 300px;
        background: lightgreen;
        margin: 1em auto;
    }

    .child {
        background: salmon;
        width: 30%;
        height: 30%;
        top: 10px;
        left: 10px;
        position: absolute;
    }