h1 {
    color: blue;
}

.px {
    font-size: 24px; :/*avoid px except for specific situations */
}

.container {
    font-size: 30px;
}

.em {
    background:lightskyblue;
    font-size: 1.25em;
}


.rem {
    background: pink;
    font-size: 1rem;
    /* good for fonts */
}

.percent-container {
    background: lightgrey;
}


.percent {
    background: lightgreen;
    width: 50%;
    height: 20%;
}
.vw {
    background: lightsalmon;
    font-size: 4vw;
    border: 2px;
}